@import "tailwindcss";


@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-up {
  animation-name: scroll-up;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.paused {
  animation-play-state: paused;
}
/* in your index.css or tailwind.css */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
/* App.css ya global CSS me */
.Toastify__toast-container {
  z-index: 99999 !important; /* Navbar se zyada rakho */
}
